body{
    background-color: #F0DEFE;
}
label, h3{
    color:rgba(121, 32, 181, 184);
    font-weight: 650;
}
img{
    width: 200px;
}

.btn-dark{
    border: 1px solid black;
    background-color: #F0DEFE;
}